@import "variables";
@import "media-queries";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: $pp-Cream;
}
.box-body{
    width:100vw;
    height:95vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.product-box{
    // width:40vw;
    height:60vh;
    display: flex;
    // flex-wrap: wrap;
    border-radius: $border-radius;
    


    img{
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
    }
    .description{
        padding: 1.5rem;
        background-color: $White;
        display:flex;
        flex-direction: column;
        justify-content: space-around;    
            h6{
                letter-spacing: .3rem;
                text-transform: uppercase;
                color:$Dark-grayish-blue;
                



            }
            .title-head{
                
                color:$Very-dark-blue;
                line-height: 1.8rem;
                max-width: 12ch;
            }

            .content-text{
                font-size: .8rem;
                color:$Dark-grayish-blue;
                max-width:30ch;
               
            }
            .price{
                color:$pp-Dark-cyan;
                display: inline;
                
            }
            .cut-price{
                text-decoration-line: line-through;
                font-size: 12px;
                color:$Dark-grayish-blue;
            }
            button{
                padding: .5rem 1.5rem;
                border: none;
                background-color: $pp-Dark-cyan;
                color:$White;
                border-radius: 5px;
                font-size: 12px;
                font-weight: bold;
                

                img{
                    height:1.2em;
                }
            }
            button:hover{
                background-color: $clr-btn-hover;
            }

    }
}
